<header class="header">
  <h1>todos</h1>
  <%= render "form.html", Map.put(assigns, :action, Routes.todo_path(@conn, :create)) %>
</header>

<ul class="todo-list">
  <%= for todo <- @todos do %>
    <li>
      <div class="view">
        <input class="toggle" type="checkbox">
        <label><%= todo.title %></label>
        <button class="destroy"></button>
      </div>
    </li>
  <% end %>
</ul>
