<!DOCTYPE html>
<html lang="en" data-framework="phx">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Todos · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
		<section class="todoapp">
      <%= render @view_module, @view_template, assigns %>
    </section>

    <footer class="info">
      <p>Double-click to edit a todo</p>
      <p>Written by <a href="http://twitter.com/smeade">Scott Meade</a></p>
      <p>Ported from but not at all part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
